h1 {
    text-decoration: underline;
    color: rgb(100, 100, 230);
    text-align: center;
    font-family: Arial;
    font-size: 40px;
}
body {
    
}
.imgalign {
    text-align: center;
}
img.imagestyle {
    width: 700px;
    height: 220px;
}
.formstyle {
    background-color: rgb(100, 100, 230);
    font-family: Arial;
    color: white;
    text-indent: 17px;
    padding-top: 10px;
}

 input {
    padding: 5px;
    margin: 7px;
}
.dob {
    text-indent: 10px;
    padding: 1em;
}

.adress {
    text-indent: 25px;
    padding-top: 0.5em;
    ;

}
.qualification {
    padding-top: 2.5em;
    text-indent: 21px;
    padding-right: 1em;
}

.courses {
    padding-top: 1.7em;
}
.bca {
    text-indent: 21px;
    padding-top: 1.5em;
}
.indent {
    text-indent: 17px;
    padding: 0.6em;
}
.Goback {
    color: purple;
    text-decoration: underline;
    text-align: center;
}
.indentbutton {
    text-indent: 280px;
    padding-top: 1.7em;
    padding-bottom: 10px;
}

p>a {
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
    color: purple;
    text-decoration: underline;
    font-weight: 800;
}

a {
    font-size: 14px;
    text-decoration: none;
    color: black;
    background-color: white;
    padding-right: 7px;
    padding-left: 0.5px;
    padding-bottom: 6px;
    padding-top: 6px;
}
.button {
    cursor: pointer;
}